/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Common */
body {
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
}
.container {
	width: 80%;
	max-width: 1200px;
	margin: auto;
}
.centering {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}
a {
	text-decoration: none;
}

/* Typo */
h1 {
	font-size: 50px;
	margin-bottom: 30px;
}

p {
	margin: 15px 0;
}

/* Buttons */
.btn {
	display: inline-block;
	line-height: normal;
	background-color: #fff;
	color: #000;
	padding: 5px 8px;
    border-radius: 12px;
}

.btn.btn-big {
	padding: 10px 20px;
    border-radius: 17px;
}

.btn.btn-main {
	background-color: #23272a;
	color: #fff;
}

/* Header */

header {
	background-color: #3161e0;
	height: 60px;
	line-height: 60px;
	/* Soluzione con display inline-block */
	/* padding: 15px 0; */
}

.logo, .main-nav, .login {
	float: left;
	/* Soluzione con display inline-block */
	/* display: inline-block;
	vertical-align: middle; */
}

.logo img {
	vertical-align: middle;
}
.login {
	text-align: right;
}

.logo, .login {
	width: 15%;
}
.main-nav {
	width: 70%;
	text-align: center;
}

.main-nav li {
	display: inline-block;
	margin: 0 5px;
}

.main-nav li a {
	color: #fff;
}

/* Main */
.hero {
	background-image: url('../img/jumbo.png');
	background-size: cover;
	background-position: center;
	height: 600px;
}
.hero > .container {
	position: relative;
	height: 100%;
}
.hero-text {
	text-align: center;
	width: 70%;
	color: #fff;
}