/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Common */
.container {
	width: 80%;
	max-width: 1200px;
	margin: auto;
}
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}
a {
	text-decoration: none;
}

/* Buttons */
.btn {
	display: inline-block;
	line-height: normal;
	background-color: #fff;
	color: #000;
	padding: 5px 8px;
    border-radius: 12px;
}

/* Header */

header {
	background-color: #3161e0;
	height: 60px;
	line-height: 60px;
	/* Soluzione con display inline-block */
	/* padding: 15px 0; */
}

.logo, .main-nav, .login {
	float: left;
	/* Soluzione con display inline-block */
	/* display: inline-block;
	vertical-align: middle; */
}

.logo img {
	vertical-align: middle;
}
.login {
	text-align: right;
}

.logo, .login {
	width: 15%;
}
.main-nav {
	width: 70%;
	text-align: center;
}

.main-nav li {
	display: inline-block;
	margin: 0 5px;
}

.main-nav li a {
	color: #fff;
}